body{
    background-image: url('/images/fond.jpeg');
}

.register {
    background-color: black;
    width: 60%;
    height: auto;
    margin: auto;
    padding:100px;

}

input {
    width : 70%;
    height: 20px;
    padding: 6px;
    margin: 20px;
}

button {
    width: 40%;
    height: 40px;
    padding: 6px;
    background-color: #F8A907;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px
}

.reg{
    color: #F8A907;
    margin: auto;
}